@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "_LayoutKorisnik";
}


<div class="container">

    <div class="row mb-5">
        <div class="col-lg-4">
            Pocetna destinacija:
            <select name="MestoPolaska"
                    id="mestoPolaska"
                    class="form-control">
                <option value="Mesto">Izaberite mesto</option>
                <option value="Beograd">Beograd</option>
                <option value="Nis">Nis</option>
                <option value="Kraljevo">Kraljevo</option>
                <option value="Pristina">Pristina</option>
            </select>
        </div>

        <div class="col-lg-4">
            Kranja destinacija:
            <select name="MestoDolaska"
                    id="mestoDolaska"
                    class="form-control">
                <option value="Mesto">Izaberite mesto</option>
                <option value="Beograd">Beograd</option>
                <option value="Nis">Nis</option>
                <option value="Kraljevo">Kraljevo</option>
                <option value="Pristina">Pristina</option>
            </select>


        </div>
        <div class="col-lg-4" >

            <div id="check" hidden="hidden" style="margin-top: 20px;margin-left: 55%">
                <input type="checkbox" id="vehicle1">
                <label for="vehicle1">Bez presedanja</label>
            </div>

        </div>
    </div>

    <div class="row">


        <div class="col">
            <table style="border:1px solid black" id="" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>Broj presedanja</th>
                        <th>Datum</th>
                        <th>Broj mesta</th>
                        <th>Rezervisi</th>

                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <script>

    $('select').on('change', function (e) {

        $('#vehicle1').prop('checked', false);
        var polazak = document.getElementById("mestoPolaska");
        var dolazak = document.getElementById("mestoDolaska");

        var polazakVal = polazak.value;
        var dolazakVal = dolazak.value;

        if (polazakVal == 'Mesto' || dolazakVal == 'Mesto')
            return;

        if (polazakVal == dolazakVal) {
            alert("Ne moze isti polazak i dolazak !");
            return;
        }

      $.ajax({
          url: '@Url.ActionLink("GetFlightsByCriteria", "Let")',
          data: {
              mestoPolaska: polazakVal,
              mestoDolaska: dolazakVal
          },
            method: "get",
            success: function (data) {

                $("tbody tr").remove();
                for (var i = 0; i < data.length; i++) {

                    datum = new Date(data[i].datum).toLocaleDateString();
                    $("tbody").append("<tr id=" + data[i].letId + ">" +
                        "<td>" + data[i].brojPresedanja + "</td>" +
                        "<td>" + datum + "</td>" +
                        "<td><input type='text'/></td>" +
                        "<td>  <button onclick='reservation(this.id)' id="+data[i].letId+"> Rezervisi</button ></td>"+
                        + "</tr>");
                }
                $("#check").removeAttr("hidden");
            },
            error: function () {
                alert("Error!");
            }
        });



    });

    </script>

    <script>
    function reservation(id) {
        var row = $(`#${id}`).closest('tr');
        var brojMesta = row.find('td:eq(2)').children('input').val();
        alert(brojMesta);

        $.ajax({
            url: '@Url.ActionLink("FlightReserve","Rezervacija")',
            data: {
                id: id,
                brojMesta: brojMesta
            },
            method: "post",
            success: function (message) {
                if (message == null) {

                    alert("Uspesno rezervisan let");
                }
                else {
                    alert(message);

                }

            },
            error: function () {
                alert("Error!");
            }

        });
    }


    $("input[type=checkbox]").on("click", function (e) {
        var n = $("input:checked").length;
        if (n > 0) {
            bezPresedenja();
        }
        else {
            sviLetovi();
        }
    });

    function bezPresedenja() {
        $("tbody tr").each(function () {
            var row = $(this);
            var brojPresedanja = row.find('td:eq(0)').text();
            if (brojPresedanja > 0)
                row.attr("hidden", true);

        })

    }

    function sviLetovi() {
        $("tbody tr").each(function () {
            var row = $(this);

            row.removeAttr("hidden");
        })

    }
    </script>


    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/let.js"></script>
